[submodule "5. Sprint II/be_java_hisp_w29_g06"]
	path = 5. Sprint II/be_java_hisp_w29_g06
	url = https://github.com/JholmanDanielReinaToledo/be_java_hisp_w29_g06/commit/3e4f36224a4db7996c4a4306df8c4faa1d227815
