# Default ignored files
/../../../Introducción a la calidad de SW - P1/ObtenerDiploma/.idea/shelf/
/../../../Introducción a la calidad de SW - P1/ObtenerDiploma/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Introducción a la calidad de SW - P1/ObtenerDiploma/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Introducción a la calidad de SW - P1/ObtenerDiploma/.idea/dataSources/
/../../../Introducción a la calidad de SW - P1/ObtenerDiploma/.idea/dataSources.local.xml
